<form method="post" class="ml-5 mr-5">
    <p>Name</p>
<input class="form-control" type="text" name="Name" placeholder="Name" />
 <input class="form-control mb-3 mt-5" type="submit" value="Create" />

</form>